{% extends 'base.html'%}

{% block title_block %}Homepage{% endblock %}

{% block content_block %}



{% for each in blogposts %}

    <div class="card" style="width: 18rem;">
        <img src="media\blogpost_images\BlogIntroImage.jpg" class="card-img-top" alt="aayena haii">
        <div class="card-body">
        <h5 class="card-title">Hello</h5>
        <p class="card-text">K vayo timlai</p>
        <a href="#" class="btn btn-primary">View more</a>
        </div>
    </div>
{% endfor %}



{% endblock %}